<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            text-align: center;
            font-family: 'arial';
            font-size: 40px;
            background-color: lightblue;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    {% if message %}
        <p>Nível: {{ message }} ({{ atual }}xp/{{ xp }}xp)</p>
    {% endif %}
</body>
</html>